<div class="main-area">
  <div class="search-area">
    <%= form_tag(search_users_clients_path, method: :get, class: "form-inline form-horizontial") do %>
      <div class="form-group">
        <%= label :search, :language_id, "言語", class: "control-label" %>
        <%= collection_select :search, :language_id, Language.all, :id, :name, {prompt: "選択してください", selected: @params[:language_id]}, class: "form-control" %>
      </div>
      <%= submit_tag "検索", class: "btn btn-default" %>
    <% end %>
  </div>

  <% @clients.each_slice(3) do |client1, client2, client3| %>
    <div class="result-group">
      <div class="first-group">
        <div class="name-area">
          <%= link_to image_tag("noimage.png"), users_client_path(client1), class: "client-image" %>
          <%= link_to client1.account.name, users_client_path(client1) %>
        </div>
        <div class="detail-area">
          <% client1.account.languages.each do |language| %>
            <%= language.name %>
          <% end %>
        </div>
      </div>
      <div class="second-group">
      </div>
      <div class="third-group">
      </div>
    </div>
    <div class="clearfix"></div>
  <% end %>
</div>
