<p id="notice"><%= notice %></p>

<%= @applicant.user.name %>

<table class="table">
  <tr>
    <th>リポジトリ名</th>
    <th>言語</th>
    <th>URL</th>
  </tr>
  <% @applicant.repositories.each do |repo| %>
    <tr>
      <td><%= repo.name %></td>
      <td><%= repo.language.name rescue "不明" %></td>
      <td><%= link_to repo.html_url, repo.html_url, target: "_blank" %></td>
    </tr>
  <% end %>
</table>
