<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "gitconnect", users_statics_path, class: "navbar-brand" %>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Search", search_users_clients_path  %></li>
        <li><%= link_to "Help", "#"  %></li>
        <li class="dropbown">
          <%= link_to "#", id: "settings", class: "dropdown-toggle", "data-toggle" => "dropdown" do %>
            Settings
            <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" aria-labelledby="settings">
            <li>
              <%= link_to "dummy", "#" %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Logout", destroy_account_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>
